# macOS files
.DS_Store

# python auxiliary 
__pycache__/
.cache
*.pyc

# pypi
dist/
pantable.egg-info/

# setup.py & cython
build/
*.c
*.so

# coverage
.coverage
htmlcov/

# pycharm
.idea/

# iPython
.ipynb_checkpoints/
